{% extends 'base.html' %}

{% block content %}
<main class="main-content">
    <section class="contact-info">
        <h1>Связаться с нами</h1>
        <p>Если у вас есть вопросы или вам нужна помощь, обращайтесь к нам. Мы всегда готовы помочь!</p>
        
        <h2>Наши контактные данные</h2>
        <ul>
            <li><strong>Email:</strong> grandinkv@gmail.com</li>
            <li><strong>Телеграм:</strong>  адрес.me</li>
        </ul>

        <h2>Форма обратной связи</h2>

        <form action="" method="POST" enctype="multipart/form-data" class="contacts-form">
            {% csrf_token %}

            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for field in form %}
        
            <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <div class="form_error">{{ field.errors }} </div>

            {% endfor %}
            <button class="btn save-answer-btn fs25" type="submit">Отправить</button>

        </form>


    </section>
</main>
{% endblock content %}