{% extends 'base.html' %}
{% load static %}


{% block content %}

    <main class="main-content">
        <div class="container">
            <div class="title">
                <h1>Создание вопроса</h1>
            </div>
            
            <form action="" method="post" enctype="multipart/form-data" class="form-container">
            {% csrf_token %}

                <div class="form-error">{{ form.non_field_errors }}</div>

                {% for f in form %}
                <div class="form-group">
                    <p><label class="form_label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                    <div class="form_error">{{ f.errors }} </div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-submit" name="add-question" value="add-question1">Далее</button>

            </form>
        </div>
    </main>
    <script src="{% static 'quiz/script/add_question.js' %}"></script>
{% endblock content %}