{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class="main-content">
        <div class="title">
            <a onclick="window.history.back()"><img src="{% static 'quiz_app/images/go_back.png' %}" class="back-pic"></a>
            <h1>{{ quiz }}</h1>
        </div>
        <div class="global-container">

            <div class="vremennii">

                <div class="quiz-description">
                    <div class="quiz-description head">
                        <h3>Описание</h3>
                    </div>
                    <div class="quiz-description content">
                        <p>{{ quiz.description }}</p>
                    </div>
                </div>

                <div class="info-quiz">
                    <p>Создатель: <a id="author" class="fs25" href="{% url 'user_quizzes' quiz.author_id quiz.author.username %}">{{ quiz.author }}</a></p>
                    <p>Сложность: {{ quiz.difficult }}</p>
                    <p>Вопросов: {{ questions_count }}</p>
                    <a href="{% url 'take_quiz' quiz.id %}" class="btn manage-btn fs25">Пройти викторину</a>
                </div>
                    
            </div>

            <div class="global-statistics">
                <h2>Прошли раз: {{ quiz.total_count|default:'0' }}</h2>
                <h2>Средний процент: {{ quiz.avg_score|floatformat:2|default:'Нет прохождений' }}{% if quiz.total_count%}%{%endif%}</h2>
                <h2>Среднее время прохождения: {{ quiz.avg_time|floatformat:2|default:'Нет прохождений' }}{% if quiz.total_count%} s.{%endif%}</h2>
            </div>

            <div class="created-at">
           <!-- <p>Создан: {{ quiz.created_at|date:"d F Y г." }}</p> -->
                <p class="fs18">Создан: {{ created_at|date:"d F Y г." }}</p> 
                <p class="fs18">Последнее прохождение: {{ last_test }}</p>
            </div>

            <div class="histories">
                <h1 class="history-title answer-title pd20">Прошлые прохождения</h1>
                {% if histories %}
                    {% for history in histories %}
                    <div class="history {% if history.percentage > 74 %} great {% elif history.percentage > 50 %} good {% else %} bad {% endif %}">
                        <p class="correct-answers">Верных ответов: {{ history.correct_answers }} из {{ history.total_questions }} | {{ history.percentage }}%</p>
                        <p class="time-taken">Время прохождения: {{ history.time_taken }} сек.</p>
                        <p class="completed-at">{{ history.completed_at }}</p>
                    </div>
                    {% endfor %}
                <button class="btn btn-submit" id="showAll">Показать все</button>
                {% else %}
                <div class="history ">
                    <h1 style="text-align: center;">Вы ещё не проходили этот тест</h1>
                </div>
                {% endif %}
            </div>
        </div>

    </main>
    
{% endblock content %}

{% block script %}

<script src="{% static 'quiz_app/script/statistics.js' %}"></script>

{% endblock script %}