{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
<div class="container-messages success-topic">
    <ul class="messages">
        <span class="close-button" onclick="">&times;</span>
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<main class="home-main-content">
    <div class="button-row">
        <a href="{% url 'create_quiz' %}" class="btn big-btn">Создать свою викторину</a>
        <a href="{% url 'view_quizzes' %}" class="btn big-btn">Посмотреть свой профиль</a>
        <a href="{% url 'list_quizzes' %}" class="btn big-btn">Глянуть список викторин</a>
    </div>
</main>


{% endblock content %}
