{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Основной контент -->
    <main class="main-content">

        <div class="question-title">
            <h1>Викторины пользователя: {{ username }}</h1>
        </div>

        <div class="container-quiz">

            {% for quiz in quizzes %}
            <div class="card {{ quiz.get_difficult_display }}">
                <div class="card-head">
                    <a href="{% url 'list_questions' quiz.id %}">{{ quiz }}</a>
                    <a href="{% url 'global_statistics' quiz.id %}"><img src="{% static  'quiz/images/info.png' %}" class="info-pic"></a>
                </div>
                <div class="global-card-conetnt">
                    <p>Вопросов: {{ quiz.active_questions_count }}</p>
                    <p>Сложность: {{ quiz.difficult }}</p>
                    <p class="end-p">Автор: {{ quiz.author }}</p>
                    <div class="global-card-actions-quiz">
                        <a href="{% url 'take_quiz' quiz.id %}">Начать викторину</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </main>
    

{% endblock content %}
