{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class="main-content">

        <div class="title pd10">
            <a onclick="window.history.back();">
                <img src="{% static 'quiz_app/images/go_back.png' %}" class="back-pic" >
            </a>
            <h1>Викторины пользователя: {{ username }}</h1>
            {% if user.photo %}
            <img src="{{ user.photo.url }}" alt="" class="avatar-pic">
            {% else %}
            <img src="{{ default_url }}user/profile_pictures/default_picture/avatar.png" alt="" class="avatar-pic">
            {% endif %}
        </div>

        <div class="container-quiz crutch">

            {% for quiz in quizzes %}
            <div class="card {{ quiz.get_difficult_display }}">
                <div class="card-head">
                    <a href="{% url 'global_statistics' quiz.id %}">{{ quiz }}</a>
                    <a href="{% url 'global_statistics' quiz.id %}">
                        <img src="{% static 'quiz_app/images/info.png' %}" class="info-pic">
                    </a>
                </div>
                <div class="global-card-conetnt">
                    <p>Вопросов: {{ quiz.active_questions_count }}</p>
                    <p>Сложность: {{ quiz.difficult }}</p>
                    <p class="end-p">Автор: {{ quiz.author }}</p>
                    <div class="global-card-actions-quiz">
                        <a href="{% url 'take_quiz' quiz.id %}">Начать викторину</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </main>
    

{% endblock content %}
