{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Основной контент -->
    <main class="main-content">
        <div class="title">
            <h1>Список моих викторин</h1>
        </div>
        
        <div class="container-quiz">

            {% for quiz in quizzes %}
            <div class="card {{ quiz.get_difficult_display }}">
                <div class="card-head">
                    {% if quiz.is_show %}
                    <img src="{% static 'quiz_app/images/open_eye.png' %}" class="eye-pic">
                    {% else %}
                    <img src="{% static 'quiz_app/images/closed_eye.png' %}" class="eye-pic">
                    {% endif %}
                    <a href="{% url 'list_questions' quiz.id %}">{{ quiz }}</a>
                    <a href="{% url 'global_statistics' quiz.id %}"><img src="{% static 'quiz_app/images/info.png' %}" class="info-pic"></a>
                </div>

                <div class="card-content">
                    <p>Вопросов: {{ quiz.questions.count|default:"0" }}</p>
                    <p>Сложность: {{ quiz.difficult }}</p>
                    <div class="card-actions-quiz">
                        <a href="{% url 'list_questions' quiz.id %}">Подробнее</a>
                        <a href="{% url 'take_quiz' quiz.id %}">Начать викторину</a>
                        <a href="{% url 'delete_quiz' quiz.id %}" onclick="confirmDelete(this); return false;">Удалить</a>
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>
    </main>
    <script src="{% static 'quiz_app/script/quiz.js' %}"></script>
{% endblock content %}
