{% extends 'base.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'user/style/profile.css' %}">
{% endblock link %}


{% block content %}

<main class="main-content">

    <div class="user">

        <form action="" method="post" enctype="multipart/form-data" id="upload_form">
            {% csrf_token %}
            
            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
            <div class="form-group" style="display: none;">
                {{ f }}
                <!-- <div class="form_error">{{ f.errors }} </div> -->
            </div>
            {% endfor %}
            <button type="submit" style="display: none;">Отправить</button>
        </form>

        <div class="avatar">
            <p class="phot">  Изменить фото  </p>
            {% if user.photo %}
            <img src="{{ user.photo.url }}" alt="" class="content-avatar">
            {% else %}
            <img src="{{ default_url }}user/profile_pictures/default_picture/avatar.png" alt="" class="content-avatar">
            {% endif %}
        </div>

        <div class="user-info">
            <div class="title">
                <h2>{% if user.firstname %}
                    {{ user.firstname }}{{ user.lastname }},
                    {% endif %}
                    {{ user.username }}
                </h2>
            </div>
            <div class="characteristic">
                <div class="tests-created">

                    <div class="total fs18">
                        <p><b>Создано тестов: {{ statistics.tests_created }}</b></p>
                    </div>
                    <div class="other fs18">
                        <p>Лёгких: {{ statistics.easy_tests_created }}</p>
                        <p>Средних: {{ statistics.medium_tests_created }}</p>
                        <p>Сложных: {{ statistics.hard_tests_created }}</p>
                        <p>Очень сложных: {{ statistics.very_hard_tests_created }}</p>
                    </div>

                </div>
                <div class="tests-completed">

                    <div class="total fs18">
                        <p><b>Пройдено тестов: {{ statistics.tests_completed }}</b></p>
                    </div>
                    <div class="other fs18">
                        <p>Лёгких: {{ statistics.completed_easy_tests }}</p>
                        <p>Средних: {{ statistics.completed_medium_tests }}</p>
                        <p>Сложных: {{ statistics.completed_hard_tests }}</p>
                        <p>Очень сложных: {{ statistics.completed_very_hard_tests }}</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="lower-cards mt80">
            <h1 class="lower-card-title answer-title pd20">Самый популярный тест</h1>
            <div class="container-quiz" style="margin: 0 20px 20px 20px;">
                <div class="card">
                    {% if most_popular_quiz != None %}
                    <div class="card-head">
                        <a href="">{{ most_popular_quiz.name }}</a>
                        <a href="{% url 'global_statistics' most_popular_quiz.id %}"><img src="{% static 'quiz_app/images/info.png' %}" class="info-pic"></a>
                    </div>
                    <div class="card-content">
                         <p>Вопросов: {{ most_popular_quiz.questions.count }}</p>
                         <p>Сложность: {{ most_popular_quiz.difficult }}</p>
                         <p class="card-actions top15">Прохождений: {{ most_popular_quiz.result_count }}</p>
                         <div class="global-card-actions-quiz">
                            <a href="{% url 'take_quiz' most_popular_quiz.id %}">Начать викторину</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="card-content">
                        <p style="text-align: center;">Вы еще не создали ни одной викторины</p>
                        <div class="global-card-actions-quiz nav-left">
                            <a href="{% url 'create_quiz' %}">Создать</a>
                        </div>
                   </div>
                    {% endif %}
                </div>

            </div>
        </div>
    
    </div>
    
</main>

<script src="{% static 'user/scripts/profile.js' %}"></script>

{% endblock content %}
