* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    color: #333;
}

.mt80 {
    margin-top: 80px;
}

.pd40 {
    padding: 40px;
}

.pd20 {
    padding: 20px;
}

.pd10 {
    padding: 10px;
}

.fs25{
    font-size: 25px;
}

.fs18{
    font-size: 18px;
}



.title {
    background-color: rgb(162, 75, 243);
    position: relative;
    color: white;
    text-align: center;
    height: auto;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.site-header {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
    background-color: #4CAF50;
    border-bottom: 1px solid #ccc;
}

.nav-left a, .nav-right a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-left a:hover {
    color: #ce2626;
}


.home-main-content {
    height: 89vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}


.button-row {
    display: flex;
    gap: 20px;
}

.btn {
    background-color: #28a745;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.big-btn {
    flex: 1;
    padding: 80px 40px;
    font-size: 32px;
    border-radius: 8px;
    transition: background-color 0.3s;
}


.big-btn:hover {
    background-color: #2b9742;
}

.auth-btn {
    background-color: #007BFF;
    transition: 0.7s;
    font-weight: bold;
}

.auth-btn:hover {
    background-color: #ba2020;
    transition: 0.5s;
}



.main-content {
    position: relative;
    background-color: white;
    margin: 20px auto;
    max-width: 1200px;
    min-height: 85vh;
    height: auto;
    border-radius: 10px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}


.form-container {
    width: 600px;
    background: rgb(244, 244, 244);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.243);
    margin: 20px auto;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
    color: #555;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.btn-submit {
    width: 100%;
    padding: 10px 15px;
    background-color: #33ab4f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 26px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.btn-submit:hover {
    background-color: #329347;
}

select {
    width: 50%;
    font-size: 18px;
    padding: 10px 0 10px 10px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    outline: none;
}

select:focus {
    border: 1px solid #007BFF
}

.form-input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

textarea {
    resize: vertical;
}


.card-content {
    position: relative;
    padding: 15px;
    font-size: 22px;
    color: #555;
    max-height: 210px;
}

.card-content p {
    margin: 5px 0;
}

.card-head {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    position: relative;
}
.card-head a{
    text-decoration: none;
    color: white;
}

/* Карточка */
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 1.5s;
}
  
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(248, 51, 51, 0.350);
}

.card-actions-quiz{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.card-actions-quiz a {
    display: inline-block;
    color: #4CAF50;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}


.manage-show {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    position: absolute;
    width: auto;
    top: 50%;
    right: -65px; 
    transform: translate(-50%, -50%);
}

.manage-show *{
    margin: 10px 0 5px 0;
}

.scale23 {
    transform: scale(2.3);
}

.scale15 {
    transform: scale(1.5);
}

.title-hat {
    font-size: 42px;
}

.manage-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    background-color: #ebebeb;
    border-radius: 0 0 10px 10px;
    
}

.manage-panel p , .manage-panel label{
    font-size: 24px;
    font-weight: bold;
    /* width: 250px; */
    margin-left: 10px;
}

.manage-btn {
    margin-left: 4px;
    text-decoration: none;
    background-color: #61c865;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.manage-btn:hover {
    background-color: #47e44a;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: auto;
}



.bottom {
    margin-top: 35px;
}

/* Switch */
.switch {
    right: 15px;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 34px;
    cursor: pointer;
}
  

.switch input {
    display:none;
}
  
/* Slider */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.mright {
    margin-right: 20px;
}

.mbottom {
    margin-bottom: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}


/* Контейнер карточек */
.container-question {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px 15px;
    grid-template-columns: repeat(2, 1fr);
    transition: all 2s ease-in-out;
}
  
@media screen and (max-width: 1200px) {
    .container-question {
      grid-template-columns: repeat(1, 1fr);
  }
}
  
/* Карточка */
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.2s, box-shadow 1.5s;
}
  
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(248, 51, 51, 0.350);
}

.absolute{
    position: absolute;
}

/* Заголовок вопросов */
.card-head-question {
    background-color: #af4c4c;
    color: white;
    padding: 15px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

/* Контент карточки */
.card-conetnt {
    padding: 15px;
    font-size: 22px;
    color: #555;
    max-height: 200px;
    height: 180px;
}
  
.card-conetnt p {
    margin: 5px 0;
}
  
.card-conetnt input{
    padding: 25px;
    font-size: 26px;
    color: #555;
}

.top15 {
    top: 15px
}

.bot5 {
    bottom: 5px;
}

.card-actions {
    position: absolute;
    right: 15px;
}

.single {
    padding: 15px;
    font-size: 22px;
    color: #555;
}
  
.single p {
    margin: 5px 0;
}

.card:has(.input-text){
    display: flex;
    flex-direction: column;
}
  
.inp-view {
    margin-bottom: 56px;
}
  
.input-text{
    padding: 20px 15px;
    font-size: 22px;
    color: #4e4e4e;
}
  
.input-text h2{
    text-align: center;
    background-color: #d6d6d6;
    border-radius: 10px;
}

.card-actions a{
    margin-left: 10px;
}
  
  

.card-actions a, .card-actions-quiz a {
    display: inline-block;
    color: #4CAF50;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.card-actions a:hover, .card-actions-quiz a:hover {
    color: #ba2020;
}



.mleft {
    margin-left: 20px;
}


.answer-title{
    background-color: #af4c4c;
    color: aliceblue;
    margin: 0 0 20px 0;
    text-align: center;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.answer-title {
    position: relative;
}

.container-answer {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: auto;
    max-width: 1100px;
    padding: 0 15px;
}

.card-answer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


  
  
.card-answer label{
    background-color: white;
    padding: 10px 12px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 1.5s;
}
  
  
  
.card-answer label:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(248, 51, 51, 0.350);
}

.delete-answer-btn {
    border: none;
    border-radius: 6px;
    color: #eee;
    box-shadow: 0 0 20px #eee;
    padding: 5px 8px;
    background-color: #db1717;
    cursor: pointer;
    transition: 0.5s;
}
  
.delete-answer-btn:hover {
    background-color: #ff0000;
}

.answer-input {
    margin-left: 15px;
    margin-right: 25px;
}

.answer-text {
    font-size: 24px;
}

.answer-text span {
    margin-left: 20px;
}


.answer-text {
    font-size: 24px;
}

.answer-text-input {
    display: inline-flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 24px;
    padding: 5px 8px;
    width: 120px;
    min-width: 120px;
    max-width: 400px;
}
  
.answer-text-input:focus {
    min-width: 180px;
    transition: all 1s ease;
}
  
  
.save-answer-btn, .save-input-answer-btn {
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border: none;
    margin-top: 15px;
    padding: 15px 20px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 51%, #003CC5 100%);
}

  
.save-answer-btn:hover, .save-input-answer-btn:hover {
    background-position: right center;
}

#author {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.3s;
}

#author:hover{
    color: #ff3a3a;
}

.answer #id_answer_text {
    margin-left: 30px;
    width: auto;
    min-width: 286px;
    max-width: 650px;
}


.answer input {
    width: auto;
    margin-top: 10px;
    margin-left: 40px;
}

.questions {
    border: 1px solid green;
}

.question {
    padding-left: 15px;
    margin-bottom: 15px;
}


.question-text {
    font-size: 32px;
    margin: 20px 0;
}


.content-question label{
    font-size: 22px;
}

.scale13{
    transform: scale(1.3);
}

.take_input {
    width: 250px;
    padding: 8px;
    font-size: 22px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.take_input:focus {
    border-color: #0091ff;
}


.send-answers {
    display: inline-block;
    border-radius: 8px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 26px;
    padding: 18px 22px;
    width: 320px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.send-answers span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.send-answers span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.send-answers:hover span {
    padding-right: 25px;
}

.send-answers:hover span:after {
    opacity: 1;
    right: 0;
}

.col {
    flex-direction: column;
    align-items: start;
}

.mbottom {
    margin-bottom: 20px;
}

.warning-topic {
    background: linear-gradient(135deg, #ffb5b5 0%, #ff5f5f 100%);
    border: 2px solid #ff5f5f;
}

.success-topic {
    background: linear-gradient(135deg, #b1feb0 0%, #58dc70 100%);
    border: 2px solid #5eff7b;
}

.container-messages {
    border-radius: 10px;
    text-align: center;
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;

    transition: opacity 0.7s ease;
    opacity: 1;
}

.hidden {
    opacity: 0;
}


.messages {
    list-style: none;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.messages li {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.messages li:hover {
    transform: scale(1.02);
}

.messages li.success {
    border-left: 5px solid #28a745;
}

.messages li.error {
    border-left: 5px solid #dc3545;
}

.messages li.warning {
    border-left: 5px solid #ffc107;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

.close-button:hover {
    color: #c7bdff;
}


.sort-panel, .pageview-panel {
    display: flex;
}

.sort-panel{
    flex-basis: 33%;
    align-items: center;
}

.sort-panel p{
    margin: 0 10px;
    
}

.sort-panel select {
    margin-left: 10px;
    font-size: 22px;
    appearance: listbox;
    width: auto;
}


.pageview-panel {
    align-items: center;
}


.select-paginate-by {
    flex-basis: 50%;
}

.paginate-by {
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    text-align: center;
    align-content: center;
}

.paginate-by a{
    text-decoration: none;
    color: #1d1d1d;
}

/* КВИЗЫ */
.crutch {
    padding: 10px 20px 150px 20px;
}

.container-quiz{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    grid-template-columns: repeat(1, 1fr);
}


.global-card-conetnt {
    padding: 15px;
    font-size: 22px;
    color: #555;
    max-height: 210px;
    display: flex;
    flex-flow: column wrap;
    position: relative;
}
  
.global-card-conetnt p {
    margin: 5px 0;
}

.end-p {
    position: absolute;
    right: 15px;
}
  
.global-card-conetnt input{
    padding: 25px;
    font-size: 26px;
    color: #555;
}


/* Контейнер для действий в карточке */
.global-card-actions-quiz{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.global-card-actions-quiz a{
    color: #4CAF50;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.container-pages {
    position: absolute;
    background-color: #efefef;
    width: 100%;
    border-radius: 0 0 10px 10px;
    bottom: 0;
}


.pages{
    display: flex;
    justify-content: center;
    list-style: none;
}

.page {
    margin: 20px 15px;
    background-color: #d8e6ff;
    width: 55px;
    height: 45px;
    font-size: 26px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

.page:hover{
    background-color: #2374ff;
    cursor: pointer;
}

.page:hover a{
    color: #ffffff;
}

.page a{
    font-weight: bold;
    text-decoration: none;
    color: #0f27c5;
}

.global-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.vremennii {
    display: flex;
}

.quiz-description {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #000;
    background-color: #eeeeee;
    border-radius: 15px 0 0 15px;
    margin-top: 15px;
    width: 70%;
    min-width: 70%;
    height: auto;
}

.quiz-description .head h3{
    margin: 0;
    padding: 15px 0;
    text-align: center;
    font-size: 30px;
}

.quiz-description .head{
    width: 100%;
    background-color: #d7d7d7;
    margin: 0;
    border: 0;
}

.quiz-description .content {
    font-size: 22px;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    border: 0;
    min-height: 140px;
    max-height: 400px;
}


.info-quiz {
    position: relative;
    background-color: #FFD700;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 15px;
    padding: 10px;
    font-size: 22px;
}

.global-statistics {
    border: 1px solid aqua;
}


.created-at {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    margin-top: auto;
}


.back-pic {
    position: absolute;
    width: 52px;
    top: 50%;
    left: 55px; 
    transform: translate(-50%, -50%);
    filter: invert(1);
    cursor: pointer;
}

.avatar-pic {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50px;
    right: 15px;
    top: 18%;
}

.eye-pic {
    position: absolute;
    width: 52px;
    top: 50%;
    left: 42px; 
    transform: translate(-50%, -50%);
    filter: invert(1); 
}


.info-pic {
    width: 32px;
    position: absolute;
    right: 15px;
    filter: brightness(9);  /* Яркость */
}


.btns a{
    margin: 10px 0;
}

.lower-cards {
    background-color: #eaeaea;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.lower-card-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #f8f8f8;
    margin-bottom: 20px;
}


.lower-card {
    border-radius: 5px;
    padding: 20px;

    margin: 0 20px;
    margin-bottom: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.great {
    background-color: #bbf1a9;
    border: 1px solid #3b921e;
}
.good {
    background-color: #fff25e;
    border: 1px solid #ba9b2b;
}
.bad {
    background-color: #f1a9a9;
    border: 1px solid #921e1e;
}
.history:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.history p {
    margin: 5px 0;
    font-size: 16px;
    line-height: 1.5;
}

.great .correct-answers {
    font-weight: bold;
    color: #007d04;
}
.good .correct-answers {
    font-weight: bold;
    color: #b98500;
}
.bad .correct-answers {
    font-weight: bold;
    color: #ba0000;
}


.time-taken {
    color: #2196F3;
    font-weight: bold;
}

.completed-at {
    font-size: 14px;
    text-align: center;
}


/* Основные стили для секции контактов */
.contact-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-info h1 {
    font-size: 34px;
    margin-bottom: 10px;
    color: #333;
}

.contact-info h2 {
    font-size: 26px;
    margin-top: 20px;
    color: #555;
}

.contact-info p {
    font-size: 18px;
    color: #242424;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
    font-size: 18px;
}

/* Стили для формы */
.contacts-form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 20px;    
    outline: none;
}

.textarea {
    resize: vertical;
}

.input:focus {
    border-color: #007BFF;
}

/* Для статус кодов */
.container {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 86vh;
    margin: 0;
}
#status-code {
    font-size: 80px;
    margin: 0;
    color: #e74c3c;
}
#info-code {
    font-size: 32px;
    margin: 10px 0;
}
.container p {
    font-size: 19px;
    margin: 20px 0;
}
.container a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}
.container a:hover {
    text-decoration: underline;
}
.nav-links {
    margin-top: 30px;
}

