.user {
    padding: 10px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.avatar {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.content-avatar { 
    height: 300px;
    border-radius: 50%;
    width: 300px;
}

.avatar:hover { 
    opacity: 0.7;
    cursor: pointer;
}

.avatar:hover .phot { 
    display: block;
}

.phot {
    position: absolute;
    display: none;
    color: #ffffff;
    font-size: 20px;
    background-color: #686868;
    border-radius: 5px;
    padding: 5px;
    transform: translate(-40%, -50%);
    top: 46%;
    left: 46%;
}

.phot:hover {
    background-color: #545454;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex-grow: 1;
    background-color: #f2f2f2;
    border-radius: 50px 50px 0 0;

}


.characteristic { 
    border: 1px solid #003CC5;
    flex-grow: 1;
}

.tests-created {
    display: flex;
    flex-direction: column;
}


.total {
    text-align: center;
    color: white;
    /* background-color: #2700c1; */
    background-image: linear-gradient(to right, #003CC5 0%, #045bf2 51%, #003CC5 100%);
    padding: 0.1px;
}

.other { 
    display: flex;
    justify-content: space-evenly;
}
